@media only screen and (max-width: 600px) {
    .custom-desktop-view {
        display: none;
    }
    .custom-dialog {
        width: 94%;
        max-height: 90%;
    }
}

@media only screen and (min-width: 600px) {
    .custom-mobile-view {
        display: none;
    }

    .custom-width-80 {
        width: 70%;
        margin: auto;
    }

    .custom-dialog {
        width: 40%;
    }

    .custom-dialog-2 {
        width: 60%;
    }
}