.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: #FFC402 !important;
}

.p-tabview .p-tabview-nav .p-tabview-nav-link {
    background-color: #4A4A4A !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: black !important;
}

.p-tabview .p-tabview-nav .p-tabview-nav-link {
    color: white !important;
}

.p-tabview-nav {
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 1px;
    border-bottom: #999999 2px solid;
}

.p-tabview-nav li {
    margin: 0 10px;
}

.p-tabview-nav-link {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 10px 20px;
}

.p-tabview-panels {
    background-color: transparent;
}

.p-checkbox .p-checkbox-box {
    border-radius: 50%;    
    border: #03184B 2px solid !important;
}

.p-checkbox.p-highlight .p-checkbox-box {
    background: #FFC402 !important;
    box-shadow: inset 0 0 0 3px #E8E9E9;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
    display: none;
}

.p-progressbar {
    background-color: #DEE1EB;
    border-radius: 12px;
}

.p-progressbar .p-progressbar-value {
    background-color: #FFC402;
    border-radius: 12px;
}